$ cat .gitignore
*.[oa]
*~
/node_modules
/public/vendor/bower_components
/.idea
/data
/public/build
/public/css/all.css
/public/images/assets
run_mongo_server.bat
package-lock.json
/bin
/obj
/.vs