<div ng-controller="SocketController">
    <%- partial('../partials/toolbars/header') %>
    <div class="row" ng-controller="AbilitiesInfoController" ng-cloak>
        <div class="col-md-12 well bs-component abilitiesInfo">
            <legend translate>Abilities</legend>
            <div class="clearfix">
                <div class="col-lg-9 col-xs-12">
                    <div class="row">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="panel panel-primary char-desc-panel">
                                    <div class="panel-body">
                                        <div class="text-left">
                                            <img class="portrait" ng-src="{{::char.portrait}}">
                                            <div class="char-desc">
                                                <p translate>Name: {{char.charName}}</p>
                                                <p translate>Race: {{getCharRace()}}</p>
                                                <p translate>Role: {{getCharRole()}}</p>
                                            </div>
                                        </div>
                                        <div class="ability-slot-container btn-group"">
                                            <div class="ability-slot btn icon"
                                                 ng-repeat="ability in char.abilities track by $index"
                                                 ng-class="{'active': interestingAbility.name===ability.name, 'dropable': movingAbility}"
                                                 ng-style="{'background-color' : getAbilityColor(ability)}"
                                                 ng-disabled = "ability.name==='Void'"
                                                 uib-tooltip-html="getAbilityTooltip(ability)"
                                                 tooltip-placement="top"
                                                 tooltip-append-to-body="true"
                                                 tooltip-animation="false"
                                                 tooltip-class="ability-tooltip"
                                                 dnd-draggable="!tuneMode"
                                                 dnd-draggable-opts = "{layer: 'layer1', helper : 'clone'}"
                                                 dnd-on-dragstart = "abilityDragStart(ability, 'slot', $index)"
                                                 dnd-on-dragend = "abilityDragEnd('slot', $index)"
                                                 dnd-droppable="!tuneMode"
                                                 dnd-droppable-opts = "{layer: 'layer1'}"
                                                 dnd-on-drop = "addAbilityToPanel($index)"
                                                 ng-click = "chooseAbilityForTune(ability)">
                                                <img class="bg-img" ng-src="{{ability.icon().slice(6).slice(0,-1)}}"/>
                                            </div>
                                        </div>
                                        <div class="ability-switch btn icon" ng-class="{'tune':tuneMode, 'move':!tuneMode}" ng-click="changeTuneAbilitiesMode()"></div>
                                    </div>
                                </div>
                                <div class="panel panel-warning ability-tune" ng-class="{'hidden-on-xs': !tuneMode}">
                                    <div class="panel-body">
                                        <p class="title" translate>Ability Tune</p>
                                        <div class="tune">
                                            <span class="text-warning" ng-if="!interestingAbility" translate>Choose ability for tune</span>
                                            <div class="arrow-container" ng-if="interestingAbility">
                                                <div class="btn btn-success arrow" ng-click="prevVersion()" ng-disabled="interestingAbility.variant===1"><i class="glyphicon glyphicon-chevron-left"></i></div>
                                                <div class="ability-slot icon" ng-style="{'background-image': interestingAbility.icon(), 'background-color' : getAbilityColor(interestingAbility)}"></div>
                                                <div class="btn btn-success arrow" ng-click="nextVersion()" ng-disabled="interestingAbility.variant===5"><i class="glyphicon glyphicon-chevron-right"></i></div>
                                            </div>
                                        </div>
                                        <div class="description" ng-if="interestingAbility">
                                            <span class="name">{{interestingAbility.localName()}} {{interestingAbility.variant}}</span>
                                            <span class="desc">{{interestingAbility.desc()}}</span>
                                            <span class="tooltip-need-weapon" ng-if="interestingAbility.needWeapon()" translate>Need weapon</span>
                                            <span class="tooltip-spell" ng-if="!interestingAbility.needWeapon()" translate>Spell</span>
                                            <span ng-if="interestingAbility.range()==0" translate>Range: Self</span>
                                            <span ng-if="interestingAbility.range()>0" translate>Range: {{interestingAbility.range()}}</span>
                                            <span translate>Cooldown: {{interestingAbility.cooldown()}}</span>
                                            <span ng-if="interestingAbility.duration()" translate>Duration: {{interestingAbility.duration()}}</span>
                                            <span translate>Energy cost: {{interestingAbility.energyCost()}}</span>
                                            <span translate>Mana cost: {{interestingAbility.manaCost()}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel" ng-style="{'border-color': char.getRoleColor()}">
                            <div class="panel-body">
                                <div class="ability-book">
                                    <div class="ability-filter">
                                        <div class="btn-group">
                                            <button class="btn btn-sm show-all icon" uib-btn-radio="'all'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('all')"></button>
                                            <button class="btn btn-sm sentinel-icon icon" uib-btn-radio="'sentinel'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('sentinel')" ng-hide="char.race=='cambion'"></button>
                                            <button class="btn btn-sm slayer-icon icon" uib-btn-radio="'slayer'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('slayer')" ng-hide="char.race=='nephilim'"></button>
                                            <button class="btn btn-sm redeemer-icon icon" uib-btn-radio="'redeemer'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('redeemer')" ng-hide="char.race=='cambion'"></button>
                                            <button class="btn btn-sm ripper-icon icon" uib-btn-radio="'ripper'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('ripper')" ng-hide="char.race=='nephilim'"></button>
                                            <button class="btn btn-sm prophet-icon icon" uib-btn-radio="'prophet'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('prophet')" ng-hide="char.race=='cambion'"></button>
                                            <button class="btn btn-sm malefic-icon icon" uib-btn-radio="'malefic'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('malefic')" ng-hide="char.race=='nephilim'"></button>
                                            <button class="btn btn-sm cleric-icon icon" uib-btn-radio="'cleric'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('cleric')" ng-hide="char.race=='cambion'" ng-class="{'nephilim':char.race==='nephilim'}"></button>
                                            <button class="btn btn-sm heretic-icon icon" uib-btn-radio="'heretic'" ng-model="abilityFilter" ng-click="populateAbilitiesBook('heretic')" ng-hide="char.race=='nephilim'"></button>
                                        </div>
                                    </div>
                                    <div class="ability-tab customScrollBar"
                                         ng-class="{'dropable': movingAbility}"
                                         dnd-droppable="true"
                                         dnd-droppable-opts = "{layer: 'layer1'}"
                                         dnd-on-drop = "removeAbilityFromPanel()">
                                        <div class="ability-icon icon"
                                             ng-repeat="ability in abilitiesBook track by $index"
                                             ng-style="{'background-color': getAbilityColor(ability)}"
                                             uib-tooltip-html="getAbilityTooltip(ability)"
                                             tooltip-placement="top"
                                             tooltip-append-to-body="true"
                                             tooltip-animation="false"
                                             tooltip-class="ability-tooltip"
                                             dnd-draggable="!tuneMode"
                                             dnd-draggable-opts = "{layer: 'layer1', helper : 'clone'}"
                                             dnd-on-dragstart = "abilityDragStart(ability, 'book')"
                                             dnd-on-dragend = "abilityDragEnd('book')">
                                            <img class="bg-img" ng-src="{{ability.icon().slice(6).slice(0,-1)}}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group-vertical options">
                                    <div class="btn-group choose-char">
                                        <button class="btn btn-info btn-sm" ng-click="prevCharClick()" ng-disabled="checkForLosers()"><</button>
                                        <button class="btn btn-info btn-sm" ng-click="nextCharClick()" ng-disabled="checkForLosers()">></button>
                                    </div>
                                    <button class="btn btn-default btn-sm" ng-click="charClick()" translate>Character</button>
                                    <button class="btn btn-success btn-sm" ng-click="inventoryClick()" translate>Inventory</button>
                                    <button class="btn btn-warning btn-sm" ng-click="exitClick()" translate>Back to city</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <div class="panel panel-danger col-sm-4 col-lg-12 stats">
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td translate>Strength:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('str')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::char.str}}
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Attack Power:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('attackPower')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.attackPower*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Health:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('maxHealth')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::char.maxHealth}}
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Health Reg.:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('healthReg')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.healthReg*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Physical Resist.:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('physRes')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.physRes*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Block Chance:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('blockChance')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.blockChance*100).toFixed(2)}}%
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-success col-sm-4 col-lg-12 stats">
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td translate>Dexterity:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('dxt')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::char.dxt}}
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Critical Rating:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('critChance')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.critChance*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Energy:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('maxEnergy')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::char.maxEnergy}}
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Hit Chance:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('hitChance')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.hitChance*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Dodge Chance:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('dodgeChance')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.dodgeChance*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Luck:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('luck')"
                                        tooltip-placement="bottom"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.luck*100).toFixed(2)}}%
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="panel panel-primary col-sm-4 col-lg-12 stats">
                        <div class="panel-body">
                            <table>
                                <tr>
                                    <td translate>Intellect:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('int')"
                                        tooltip-placement="top"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::char.int}}
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Spell Power:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('spellPower')"
                                        tooltip-placement="top"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.spellPower*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Mana:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('maxMana')"
                                        tooltip-placement="top"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::char.maxMana}}
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Mana Reg.:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('manaReg')"
                                        tooltip-placement="top"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.manaReg*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Magic Resist.:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('magicRes')"
                                        tooltip-placement="top"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::(char.magicRes*100).toFixed(2)}}%
                                    </td>
                                </tr>
                                <tr>
                                    <td translate>Initiative:</td>
                                    <td uib-tooltip-html="char.getParamTooltip('initiative')"
                                        tooltip-placement="top"
                                        tooltip-append-to-body="true"
                                        tooltip-animation="false"
                                        tooltip-class="param-tooltip">
                                        {{::char.initiative}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- partial('../partials/toolbars/chat') %>
    <%- partial('../partials/toolbars/footer') %>
</div>