<div ng-controller="SocketController">
    <%- partial('../partials/toolbars/header') %>
    <div class="row" ng-controller="CityController" ng-cloak>
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 well bs-component city">
            <legend translate>City</legend>

            <div class="top-shown-shards">
                <p translate>Soul shards:</p>
                <div class="shards-container">
                    <div class="shard red-shard">
                        <div class="icon"></div>
                        <span>{{team.souls.red}}</span>
                    </div>
                    <div class="shard green-shard">
                        <div class="icon"></div>
                        <span>{{team.souls.green}}</span>
                    </div>
                    <div class="shard blue-shard">
                        <div class="icon"></div>
                        <span>{{team.souls.blue}}</span>
                    </div>
                </div>
            </div>

            <div class="clearfix">
                <div class="col-xs-12">
                    <div class="row text-center">
                        <div class="panel panel-primary" ng-style="{'border-color' : char.battleColor }" ng-repeat="char in team.characters">
                            <div class="panel-heading" ng-style="{'background-color' : char.battleColor, 'border-color' : char.battleColor}">
                                <h2 class="panel-title" ng-if="char.charName!==char._id">{{char.charName}}</h2>
                            </div>
                            <div class="panel-body text-center">
                                <button class="btn btn-primary btn-create" ng-click="createCharClick(char)" ng-if="char.charName===char._id" translate>Create</button>
                                <div class="portrait" ng-style="{'background-image': getCharPortrait(char)}" ng-if="char.charName!==char._id">
                                    <div class="role-in-portrait" ng-class="[char.role+'-icon']"></div>
                                </div>
                                <div class="btn-group-vertical btn-group-char-options" ng-if="!(char.lose || char.charName===char._id)">
                                    <button class="btn btn-default btn-sm" ng-click="characterClick(char)" ng-disabled="searchBattle" translate>Character</button>
                                    <button class="btn btn-info btn-sm" ng-click="abilitiesClick(char)" ng-disabled="searchBattle" translate>Abilities</button>
                                    <button class="btn btn-success btn-sm" ng-click="inventoryClick(char)" ng-disabled="searchBattle" translate>Inventory</button>
                                    <button class="btn btn-danger btn-sm" ng-click="burnClick(char)" ng-disabled="searchBattle" translate>Burn</button>
                                </div>

                                <div class="resurrect-shards" ng-if="(char.lose && char.charName!==char._id)">
                                    <p translate>Resurrection cost:</p>
                                    <div class="shards-container">
                                        <div class="shard red-shard">
                                            <div class="icon"></div>
                                            <span>{{getRoleCost(char.role,'red')}}</span>
                                        </div>
                                        <div class="shard green-shard">
                                            <div class="icon"></div>
                                            <span>{{getRoleCost(char.role,'green')}}</span>
                                        </div>
                                        <div class="shard blue-shard">
                                            <div class="icon"></div>
                                            <span>{{getRoleCost(char.role,'blue')}}</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="btn-group-vertical" ng-if="(char.lose && char.charName!==char._id)">
                                    <button class="btn btn-success btn-sm"
                                            ng-click="resurrectClick(char)"
                                            ng-disabled="checkResurrectCost(char)"
                                            translate>
                                        Resurrect
                                    </button>
                                    <button class="btn btn-danger btn-sm" ng-click="burnClick(char)" translate>Burn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="btn-group">
                    <button class="btn btn-success btn-sm" ng-click="joinArenaClick()" ng-disabled="searchBattle || checkForLose()">{{joinBattleBtnHtml()}}</button>
                    <button class="btn btn-warning btn-sm" ng-click="leaveArenaClick()" ng-disabled="!searchBattle || checkForLose()" translate>Leave Queue</button>
                </div>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm roll-btn" ng-click="rollDicesClick()" ng-disabled="searchBattle || nextRollLeft!==0">{{rollDicesBtnText()}}</button>
                    <button class="btn btn-danger btn-sm" ng-click="deleteTeamClick()" ng-disabled="searchBattle" translate>Delete Team</button>
                </div>
            </div>
            <div class="clearfix">
                <div class="col-xs-12">
                    <div class="row text-center">
                        <h6 translate>Rating: {{team.rating}} (Rank {{rank}})</h6>
                        <h6 translate>Win Rate: {{team.wins}}-{{team.loses}}</h6>
                    </div>
                </div>
            </div>
            <button class="btn btn-warning btn-sm clearfix" ng-if="userName==='losfer'" ng-click="openAdmin()">Admin</button>
        </div>
    </div>

    <script type="text/ng-template" id="deleteModal.html">
        <div class="modal-header">
            <h5 class="modal-title" translate>Deleting team</h5>
        </div>
        <div class="modal-body">
            <h6 translate>Are you sure?</h6>
            <p translate>This action delete this team, reset your rank and win statistics, you will have only 16 shards of each color.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="deleteYes()" translate>Yes</button>
            <button class="btn btn-danger" type="button" ng-click="deleteNo()" translate>No</button>
        </div>
    </script>

    <script type="text/ng-template" id="diceModal.html">
        <img src="images/icons/interface/dice0.svg" ng-hide="true"/>
        <img src="images/icons/interface/dice1.svg" ng-hide="true"/>
        <img src="images/icons/interface/dice2.svg" ng-hide="true"/>
        <img src="images/icons/interface/dice3.svg" ng-hide="true"/>
        <img src="images/icons/interface/dice4.svg" ng-hide="true"/>
        <img src="images/icons/interface/dice5.svg" ng-hide="true"/>
        <img src="images/icons/interface/dice6.svg" ng-hide="true"/>

        <div class="modal-header text-center">
            <h5 class="modal-title" translate>Roll Dices</h5>
        </div>
        <div class="modal-body text-center">
            <div class="shards-container shards-dices">
                <div class="shard red-shard">
                    <div class="icon"></div>
                    <div class="dice red-dice" ng-class="{'none':dices.red===0, 'one':dices.red===1, 'two':dices.red===2, 'three':dices.red===3, 'four':dices.red===4, 'five':dices.red===5, 'six':dices.red===6}"></div>
                </div>
                <div class="shard green-shard">
                    <div class="icon"></div>
                    <div class="dice green-dice" ng-class="{'none':dices.green===0, 'one':dices.green===1, 'two':dices.green===2, 'three':dices.green===3, 'four':dices.green===4, 'five':dices.green===5, 'six':dices.green===6}"></div>
                </div>
                <div class="shard blue-shard">
                    <div class="icon"></div>
                    <div class="dice blue-dice" ng-class="{'none':dices.blue===0, 'one':dices.blue===1, 'two':dices.blue===2, 'three':dices.blue===3, 'four':dices.blue===4, 'five':dices.blue===5, 'six':dices.blue===6}"></div>
                </div>
            </div>
            <button class="btn btn-primary" type="button" ng-click="rollDices()" ng-if="!rollComplete">{{rollDicesText()}}</button>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="rollBack()" ng-disabled="dicesRolling" translate>Close</button>
        </div>
    </script>

    <%- partial('../partials/toolbars/footer') %>
</div>