<% if(user){ %>
<div class="chat-box">
    <button class="btn btn-sm btn-primary chat-btn" ng-click="chatOpened=!chatOpened" translate>Chat</button>
    <uib-tabset class="chat-tabset" ng-show="chatOpened">
        <uib-tab heading="{{'Common'|translate}}">
            <div class="chat-log well customScrollBar" autoscroll>
                <p ng-repeat="msg in chatService.getMessages('common') track by $index"><span class="text-muted">{{msg.time}}: </span><span class="text-success">{{msg.sender}} > </span><span ng-class="{'text-warning': msg.sender=='losfer'}" ng-bind-html="msg.text"></span></p>
            </div>
            <div class="form-group">
                <textarea type="text" ng-enter="sendMsg('common')" class="form-control new-msg customScrollBar" ng-model="newCommonMsg.text" maxlength="156"></textarea>
                <button class="btn btn-sm btn-success" translate ng-click="sendMsg('common')">Send</button>
            </div>
        </uib-tab>
        <uib-tab heading="{{'Arena'|translate}}" ng-show="$root.actualLocation=='/arena'">
            <div class="chat-log well customScrollBar" autoscroll>
                <p ng-repeat="msg in chatService.getMessages('arena') track by $index"><span class="text-muted">{{msg.time}}: </span><span class="text-success">{{msg.sender}} > </span><span ng-class="{'text-warning': msg.sender=='losfer'}" ng-bind-html="msg.text"></span></p>
            </div>
            <div class="form-group">
                <textarea type="text" ng-enter="sendMsg('arena')" class="form-control new-msg customScrollBar" ng-model="newArenaMsg.text" maxlength="156"></textarea>
                <button class="btn btn-sm btn-success" translate ng-click="sendMsg('arena')">Send</button>
            </div>
        </uib-tab>
    </uib-tabset>
</div>    
<% } %>