<% if(user){ %>
<div class="row" ng-cloak>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <ul class="nav col-xs-12">
                <li class="col-xs-4"><p class="navbar-text"><span class="text-danger">{{errorHandler}}</span></p></li>
                <li class="col-xs-4"><p class="navbar-text"><span class="text-info">{{infoMessage}}</span></p></li>
            </ul>
        </div>
    </nav>
</div>
<% } %>